<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdsw.distribute.dao.DevelopDao">
    <resultMap id="aMap" type="com.jdsw.distribute.vo.DevelopPool">
        <result column="id"  property="id" />
        <result column="track_id"  property="trackId" />
        <result column="corporate_name" property="corporateName" />
        <result column="corporate_phone"  property="corporatePhone" />
        <result column="last_follow_name"  property="lastFollowName" />
        <result column="last_follow_time"  property="lastFollowTime" />
        <result column="last_follow_result"  property="lastFollowResult" />
        <result column="grade"  property="grade" />
        <result column="total"  property="total" />
        <result column="receiving_time"  property="receivingTime" />
        <result column="create_time"  property="createTime" />
        <result column="source"  property="source" />


    </resultMap>
    <resultMap id="DistributeMap" type="com.jdsw.distribute.model.Distribute">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="name"  property="name" />
        <result column="corporate_name"  property="corporateName" />
        <result column="corporate_phone"  property="corporatePhone" />
        <result column="contacts"  property="contacts" />
        <result column="contacts_phone"  property="contactsPhone" />
        <result column="source"  property="source" />
        <result column="follow_number"  property="followNumber" />
        <result column="state"  property="state" />
        <result column="last_follow_up"  property="lastFollowUp" />
        <result column="last_follow_content"  property="lastFollowContent" />
        <result column="last_follow_time"  property="lastFollowTime" />
        <result column="last_follow_name"  property="lastFollowName" />
        <result column="track_id"  property="trackId" />
        <result column="overdue_time"  property="overdueTime" />
        <result column="status"  property="status" />
        <result column="track_id"  property="trackId" />
        <result column="conduct"  property="conduct" />
        <result column="create_time"  property="createTime" />
        <result column="industry"  property="industry" />
        <result column="integral"  property="integral" />
        <result column="activation_time"  property="activationTime" />
        <result column="activation_name"  property="activationName" />
        <result column="corporate_phone2"  property="corporatePhone2" />
        <result column="corporate_phone3"  property="corporatePhone3" />
        <result column="last_follow_result"  property="lastFollowResult" />



    </resultMap>
    <select id="selectDeveolpById" resultMap="DistributeMap">
        select * from customer_develop where id = #{id}
    </select>
    <select id="selectDeveolpById3" resultMap="DistributeMap">
        select * from customer_develop where track_id =#{trackId}
    </select>
    <!--新增-->
    <insert id="insertDevelop" parameterType="com.jdsw.distribute.model.Distribute" useGeneratedKeys="true" keyProperty="id">
        insert into customer_develop(
        <if test="corporateName != null and corporateName !=''">
            corporate_name
        </if>
        <if test="corporatePhone != null and corporatePhone !=''">
            ,corporate_phone
        </if>
        <if test="lastFollowResult != null and lastFollowResult !=''">
            ,last_follow_result
        </if>
        <if test="lastFollowName != null and lastFollowName !=''">
            ,last_follow_name
        </if>
        <if test="trackId != null and trackId !=''">
            ,track_id
        </if>
        <if test="leaderName != null and leaderName !=''">
            ,leader_name
        </if>
        <if test="branch != null and branch !=''">
            ,branch
        </if>
        <if test="activation != null">
            ,activation
        </if>
        <if test="source != null">
            ,source
        </if>
        <if test="weChat != null and weChat != ''">
            ,weChat
        </if>
        <if test="outTime != null and outTime != ''">
            ,out_time
        </if>
        <if test="outName != null and outName != ''">
            ,out_name
        </if>
        ,activation_name
        ,receiving_time
        ,create_time
        ,status
        ,proposer
        ,sign
        ,flag
        ,first_follow_name
        )VALUES (
        <if test="corporateName != null and corporateName !=''">
            #{corporateName}
        </if>
        <if test="corporatePhone != null and corporatePhone !=''">
            ,#{corporatePhone}
        </if>
        <if test="lastFollowResult != null and lastFollowResult !=''">
            ,#{lastFollowResult}
        </if>
        <if test="lastFollowName != null and lastFollowName !=''">
            ,#{lastFollowName}
        </if>
        <if test="trackId != null and trackId !=''">
            ,#{trackId}
        </if>
        <if test="leaderName != null and leaderName !=''">
            ,#{leaderName}
        </if>
        <if test="branch != null and branch !=''">
            ,#{branch}
        </if>
        <if test="activation != null">
            ,#{activation}
        </if>
        <if test="source != null">
            ,#{source}
        </if>
        <if test="weChat != null and weChat != ''">
            ,#{weChat}
        </if>
        <if test="outTime != null">
            ,#{outTime}
        </if>
        <if test="outName != null and outName != ''">
            ,#{outName}
        </if>
        ,#{lastFollowName}
        ,#{receivingTime}
        ,SYSDATE()
        ,10
        ,#{lastFollowName}
        ,#{sign}
        ,#{flag}
        ,#{firstFollowName}
        )
    </insert>
    <!--导入-->
    <insert id="excelNetwork" parameterType="java.util.List">
        insert into customer_develop(corporate_name,corporate_phone
        ,create_time,track_id,activation,leader_name,branch,`group`,activation_name,last_follow_name,department,activation_time,status
        )
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.corporateName},#{item.corporatePhone},sysdate()
            ,#{item.trackId},#{item.activation},#{item.leaderName},#{item.branch},#{item.group},#{item.activationName},#{item.lastFollowName},#{item.department},sysdate(),10

            )
        </foreach>
    </insert>
    <!--客户列表-->
    <select id="developList" parameterType="Map" resultMap="aMap">
        select id,track_id,corporate_name,corporate_phone,last_follow_name,last_follow_time,last_follow_result,total,grade,receiving_time,activation,source from customer_develop
        where  status = 10 and activation = 1
        <if test="lastFollowName != null and lastFollowName !=''">
            and last_follow_name = #{lastFollowName}
        </if>
        <if test="strtime != null and strtime!=''">
            AND create_time <![CDATA[ >= ]]> #{strtime}
        </if>
        <if test="endtime != null and endtime!=''">
            AND create_time <![CDATA[ <= ]]> #{endtime}
        </if>
        <if test="content != null and content!= ''">
            <bind name="content" value="'%' + content + '%'" ></bind>
            and (corporate_name like #{content} or corporate_phone like #{content})
        </if>
        ORDER BY id DESC
    </select>
    <!--修改-->
    <update id="updateDevelop" parameterType="com.jdsw.distribute.model.Distribute">
        update customer_develop
        <trim prefix="SET" suffixOverrides=",">
        <if test="corporateName != null and corporateName !=''">
            corporate_name = #{corporateName},
        </if>
        <if test="corporatePhone != null and corporatePhone != ''">
            corporate_phone = #{corporatePhone},
        </if>
        <if test="corporatePhone2 != null and corporatePhone2 != ''">
            corporate_phone2 = #{corporatePhone2},
        </if>
        <if test="corporatePhone3 != null and corporatePhone3 != ''">
            corporate_phone3 = #{corporatePhone3},
        </if>
        <if test="lastFollowName != null and lastFollowName != ''">
            last_follow_name = #{lastFollowName},
        </if>
        <if test="lastFollowResult != null and lastFollowResult != ''">
            last_follow_result = #{lastFollowResult},
        </if>
        <if test="leaderName != null and leaderName != ''">
            leader_name = #{leaderName},
        </if>
        <if test="branch != null and branch != ''">
            branch = #{branch},
        </if>
        <if test="activation != null">
            activation = #{activation},
        </if>
        <if test="total != null">
            total = #{total},
        </if>
        <if test="source != null">
            source = #{source},
        </if>
        <if test="grade != null and grade != ''">
            grade = #{source},
        </if>
        <if test="activationTime != null and activationTime != ''">
            activation_time = #{activationTime},
        </if>
        <if test="weChat != null and weChat != ''">
            weChat = #{weChat},
        </if>
        <if test="activationName != null and activationName != ''">
            activation_name = #{activationName},
        </if>
        <if test="lastFollowTime != null and lastFollowTime != ''">
            last_follow_time = #{lastFollowTime},
        </if>
        <if test="name != null and name != ''">
            name = #{name},
        </if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateBytrackId" parameterType="com.jdsw.distribute.model.Distribute">
        update customer_develop
        set
        <if test="status  !=null">
            status = #{status}
        </if>
        where track_Id = #{trackId}
    </update>

    <!--删除-->
    <delete id="deleteDevelop" parameterType="com.jdsw.distribute.model.Distribute">
        delete from customer_develop where id = #{id}
    </delete>


    <update id="updateNetworkLastFollowName" parameterType="java.util.List">
        <if test="list!=null">
            <foreach collection="list" item="Distribute" index="index" open="" close="" separator=";">
                update customer_develop
                <set>
                    <if test="Distribute.lastFollowName != null and Distribute.lastFollowName != ''">
                        last_follow_name =#{Distribute.lastFollowName},
                    </if>
                    <if test="Distribute.firstFollowName != null and Distribute.firstFollowName != ''">
                        first_follow_name =#{Distribute.firstFollowName},
                    </if>
                    <if test="Distribute.leaderName != null and Distribute.leaderName !=''">
                        leader_name = #{Distribute.leaderName},
                    </if>
                    <if test="Distribute.status != null">
                        status = #{Distribute.status},
                    </if>
                </set>
                <where>
                    id=#{Distribute.id}
                </where>

            </foreach>
        </if>
    </update>
</mapper>