<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdsw.distribute.dao.NetworkFollowDao">
  <resultMap id="DistributeMap" type="com.jdsw.distribute.model.DistributeFollow">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="corporate_name" jdbcType="VARCHAR" property="corporate_name" />
    <result column="corporate_phone" jdbcType="VARCHAR" property="corporate_phone" />
    <result column="contacts" jdbcType="VARCHAR" property="contacts" />
    <result column="contacts_phone" jdbcType="INTEGER" property="contacts_phone" />
    <result column="source" jdbcType="VARCHAR" property="source" />
    <result column="follow_number" jdbcType="VARCHAR" property="follow_number" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="last_follow_up" jdbcType="VARCHAR" property="last_follow_up" />
    <result column="last_follow_content" jdbcType="VARCHAR" property="last_follow_content" />
    <result column="last_follow_time" jdbcType="VARCHAR" property="last_follow_time" />
    <result column="last_follow_name" jdbcType="VARCHAR" property="last_follow_name" />
    <result column="last_follow_name" jdbcType="VARCHAR" property="last_follow_name" />
    <result column="status" jdbcType="VARCHAR" property="status" />

  </resultMap>
  <sql id="Base_Column_List">
    name, corporate_name, corporate_phone, contacts, contacts_phone, source, follow_number,state,last_follow_up,
    last_follow_content,last_follow_time,last_follow_name,create_time,status
  </sql>
  <insert id="insertNetworkFollow" parameterType="com.jdsw.distribute.model.DistributeFollow">
    insert into customer_network_follow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      follow_name,follow_result,network_id,
      <if test="followTime != null and followTime != ''">
        follow_time,
      </if>
      <if test="contactType != null and contactType != ''">
        contact_type,
      </if>
      <if test="imgUrl != null and imgUrl != ''">
        img_url,
      </if>
      <if test="remarks != null and remarks != ''">
        remarks,
      </if>
      <if test="record != null and record != ''">
        record,
      </if>
      create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{followName},#{followResult},#{networkId},
      <if test="followTime != null and followTime != ''">
        #{followTime},
      </if>
      <if test="contactType != null and contactType != ''">
        #{contactType},
      </if>
      <if test="imgUrl != null and imgUrl != ''">
        #{imgUrl},
      </if>
      <if test="remarks != null and remarks != ''">
        #{remarks},
      </if>
      <if test="record != null and record != ''">
        #{record},
      </if>
      sysdate()

    </trim>

  </insert>
  <update id="updateFolloupNetwork" parameterType="com.jdsw.distribute.model.DistributeFollow">
    update customer_network set state = #{state},last_follow_up = #{lastFollowUp},last_follow_time = #{followTime} where id = #{networkId}
  </update>
</mapper>