<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdsw.distribute.dao.NetworkFollowDao">
  <resultMap id="DistributeMap" type="com.jdsw.distribute.model.DistributeFollow">
    <id column="id"  property="id" />
    <result column="follow_name"  property="followName" />
    <result column="follow_time"  property="followTime" />
    <result column="follow_result"  property="followResult" />
    <result column="network_id" property="networkId" />
    <result column="img_url"  property="imgUrl" />
    <result column="remarks"  property="remarks" />
    <result column="record"  property="record" />
    <result column="create_time"  property="createTime" />
    <result column="deliver_explain"  property="deliverExplain" />
    <result column="stop_reason"  property="stopReason" />
    <result column="stop_explain"  property="stopExplain" />
    <result column="apply_reason"  property="applyReason" />
    <result column="apply_explain"  property="applyExplain" />

  </resultMap>
  <sql id="Base_Column_List">
    name, corporate_name, corporate_phone, contacts, contacts_phone, source, follow_number,state,last_follow_up,
    last_follow_content,last_follow_time,last_follow_name,create_time,status
  </sql>
  <insert id="insertNetworkFollow" parameterType="com.jdsw.distribute.model.DistributeFollow">
    insert into customer_network_follow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      follow_name,follow_result,network_id,
      <if test="followTime != null and followTime != ''">
        follow_time,
      </if>
      <if test="imgUrl != null and imgUrl != ''">
        img_url,
      </if>
      <if test="record != null and record != ''">
        record,
      </if>
      <if test="operation != null and operation !=''">
        operation,
      </if>
      <if test="applyReason != null and applyReason !=''">
        apply_reason,
      </if>
      <if test="applyExplain != null and applyExplain !=''">
        apply_explain,
      </if>
      <if test="stopExplain != null and stopExplain !=''">
        stop_explain,
      </if>
      <if test="deliverExplain != null and deliverExplain !=''">
        deliver_explain,
      </if>
      create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{followName},#{followResult},#{networkId},
      <if test="followTime != null and followTime != ''">
        #{followTime},
      </if>
      <if test="imgUrl != null and imgUrl != ''">
        #{imgUrl},
      </if>
      <if test="record != null and record != ''">
        #{record},
      </if>
      <if test="operation != null and operation !=''">
        #{operation},
      </if>
      <if test="applyReason != null and applyReason !=''">
        #{applyReason},
      </if>
      <if test="applyExplain != null and applyExplain !=''">
        #{applyExplain},
      </if>
      <if test="stopExplain != null and stopExplain !=''">
        #{stopExplain},
      </if>
      <if test="deliverExplain != null and deliverExplain !=''">
        #{deliverExplain},
      </if>
      sysdate()

    </trim>

  </insert>

  <insert id="insertNetworkFollow2" parameterType="java.util.List">
    insert into customer_network_follow(follow_name,follow_result,network_id,create_time,operation,apply_reason,apply_explain,stop_explain,deliver_explain) values
    <foreach collection="list" item="item" separator=",">
    (#{item.followName},#{item.followResult},#{item.networkId},sysdate(),#{item.operation},#{item.applyReason},#{item.applyExplain},#{item.stopExplain},#{item.deliverExplain})
    </foreach>
  </insert>

  <update id="updateFolloupNetwork" parameterType="com.jdsw.distribute.model.DistributeFollow">
    update customer_network set state = #{state},last_follow_up = #{lastFollowUp},last_follow_time = sysdate(),overdue_time = #{followTime} where id = #{networkId}
  </update>

  <select id="qureyFollowList" parameterType="java.lang.Integer" resultMap="DistributeMap">
    select cf.id,follow_name,follow_time,follow_result,network_id,img_url,record,cf.create_time,cf.apply_reason,cf.apply_explain,cf.operation,cf.stop_explain,cf.deliver_explain from customer_network_follow cf LEFT JOIN customer_network cn ON cf.network_id = cn.id WHERE cf.network_id = #{id} ORDER BY id DESC
  </select>
</mapper>