<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdsw.distribute.dao.NetworkDao">
  <resultMap id="DistributeMap" type="com.jdsw.distribute.model.Distribute">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name"  property="name" />
    <result column="corporate_name"  property="corporateName" />
    <result column="corporate_phone"  property="corporatePhone" />
    <result column="contacts"  property="contacts" />
    <result column="contacts_phone"  property="contactsPhone" />
    <result column="source"  property="source" />
    <result column="follow_number"  property="followNumber" />
    <result column="state"  property="state" />
    <result column="last_follow_up"  property="lastFollowUp" />
    <result column="last_follow_content"  property="lastFollowContent" />
    <result column="last_follow_time"  property="lastFollowTime" />
    <result column="last_follow_name"  property="lastFollowName" />
    <result column="track_id"  property="trackId" />
    <result column="overdue_time"  property="overdueTime" />
    <result column="status"  property="status" />
    <result column="track_id"  property="trackId" />
    <result column="conduct"  property="conduct" />
    <result column="create_time"  property="createTime" />
    <result column="industry"  property="industry" />
    <result column="integral"  property="integral" />
    <result column="activation_time"  property="activationTime" />
    <result column="activation_name"  property="activationName" />
    <result column="corporate_phone2"  property="corporatePhone2" />
    <result column="corporate_phone3"  property="corporatePhone3" />
  </resultMap>
  <resultMap id="pool" type="com.jdsw.distribute.vo.ComePool">
    <result column="contacts"  property="contacts" />
    <result column="create_time"  property="createTime" />
    <result column="contacts_phone"  property="contactsPhone" />
    <result column="source" property="source" />
    <result column="img_url"  property="imgUrl" />
    <result column="record"  property="record" />
    <result column="remarks"  property="remarks" />
  </resultMap>
  <resultMap id="aMap" type="com.jdsw.distribute.vo.AirForcePool">
    <result column="id"  property="id" />
    <result column="track_id"  property="trackId" />
    <result column="corporate_name" property="corporateName" />
    <result column="corporate_phone"  property="corporatePhone" />
    <result column="issue"  property="issue" />
    <result column="create_time"  property="createTime" />
    <result column="last_follow_name"  property="lastFollowName" />
    <result column="source"  property="source" />
    <result column="last_follow_time"  property="lastFollowTime" />
    <result column="overdue_time"  property="overdueTime" />
    <result column="status"  property="status" />
    <result column="leader_sign"  property="leaderSign" />
    <result column="receiving_time"  property="receivingTime" />
    <result column="last_follow_result"  property="lastFollowResult" />
    <result column="sign"  property="sign" />
    <result column="proposer"  property="proposer" />
    <result column="issue"  property="issue" />
    <result column="grade"  property="grade" />
    <result column="total"  property="total" />
    <result column="activation_time"  property="activationTime" />

  </resultMap>
  <resultMap id="cashierMap" type="com.jdsw.distribute.vo.CashierVo">
    <result column="id"  property="id" />
    <result column="track_id"  property="trackId" />
    <result column="name"  property="name" />
    <result column="corporate_name" property="corporateName" />
    <result column="corporate_phone"  property="corporatePhone" />
    <result column="create_time"  property="createTime" />
    <result column="last_follow_name"  property="lastFollowName" />
    <result column="source"  property="source" />
    <result column="order_state"  property="orderState" />
  </resultMap>
  <resultMap id="recording" type="com.jdsw.distribute.vo.RecordingVo">
    <result column="id"  property="id" />
    <result column="create_time" property="createTime" />
    <result column="source"  property="source" />
    <result column="name"  property="name" />
    <result column="last_follow_name"  property="lastFollowName" />
    <result column="track_id"  property="trackId" />
    <result column="corporate_name"  property="corporateName" />
    <result column="order_state"  property="orderState" />
  </resultMap>
  <sql id="Base_Pool_List">
    id,track_id,name,corporate_name,corporate_phone,registered_capital,establish_time,operation,issue,state,create_time,last_follow_name,
    source,last_follow_time,city,other_phone,address,overdue_time,status
  </sql>

  <sql id="PoolList">
    id,track_id,corporate_name,corporate_phone,create_time,last_follow_name,issue,receiving_time,last_follow_result,status,source,proposer,sign
  </sql>

  <select id="selectNetworkTrackId" resultType="String">
    select track_id from customer_network where id = #{id}
  </select>

  <select id="selectNetworkById" resultMap="DistributeMap">
    select *
    from customer_network where id =#{id}
  </select>

  <select id="selectNetworkById3" resultMap="DistributeMap">
    select *
    from customer_network where track_id =#{trackId}
  </select>

  <select id="selectNetworkById2" resultMap="DistributeMap">
    select *
    from customer_network where id =#{id} FOR UPDATE
  </select>

  <!--空军分发池-->
  <select id="airForcePoolList" resultMap="aMap" parameterType="Map">
    select <include refid="PoolList"></include> from customer_network
    where 1 = 1 and issue = #{issue}
        <if test="strtime != null and strtime!=''">
            AND create_time <![CDATA[ >= ]]> #{strtime}
        </if>
        <if test="endtime != null and endtime!=''">
            AND create_time <![CDATA[ <= ]]> #{endtime}
        </if>
        <if test="content != null and content!= ''">
          <bind name="content" value="'%' + content + '%'" ></bind>
            and (corporate_name like #{content} or corporate_phone like #{content})
        </if>
    ORDER BY id DESC
  </select>
  <!--抢单池-->
  <select id="grabbingPool" resultMap="aMap" parameterType="Map">
    select id,track_id,source,last_follow_name,last_follow_result,sign,proposer,create_time,issue,receiving_time from customer_network
    where  issue = 1 and `status` = 0
    <if test="strtime != null and strtime!=''">
      AND create_time <![CDATA[ >= ]]> #{strtime}
    </if>
    <if test="endtime != null and endtime!=''">
      AND create_time <![CDATA[ <= ]]> #{endtime}
    </if>
    <if test="content != null and content!= ''">
      <bind name="content" value="'%' + content + '%'" ></bind>
      and (corporate_name like #{content} or corporate_phone like #{content})
    </if>
    ORDER BY id DESC
  </select>
  <!--跟单池-->
  <select id="withPool" resultMap="aMap" parameterType="Map">
    SELECT * from (SELECT id,track_id,corporate_name,last_follow_name,last_follow_result,leader_name,activation,proposer,DATE_FORMAT(create_time,'%Y-%m-%d') as create_time,sign,source,TIMESTAMPDIFF(second ,SYSDATE(),overdue_time) as overdue_time,issue,leader_sign from customer_network WHERE
    `status` in (7,10) UNION all SELECT id,track_id,corporate_name,last_follow_name,last_follow_result,leader_name,activation,proposer,DATE_FORMAT(create_time,'%Y-%m-%d') as create_time,sign,source,TIMESTAMPDIFF(second ,SYSDATE(),overdue_time) as overdue_time,issue,leader_sign FROM customer_telemarke WHERE `status` in (7,10) )
    as t  WHERE last_follow_name = #{lastFollowName} and activation = 0 and issue = #{issue}
    <if test="strtime != null and strtime!=''">
      AND create_time <![CDATA[ >= ]]> #{strtime}
    </if>
    <if test="endtime != null and endtime!=''">
      AND create_time <![CDATA[ <= ]]> #{endtime}
    </if>
    <if test="content != null and content!= ''">
      <bind name="content" value="'%' + content + '%'" ></bind>
      and (corporate_name like #{content} or corporate_phone like #{content})
    </if>
    ORDER BY create_time DESC
  </select>
  <!--跟单池-->
  <select id="withPool2" resultMap="aMap" parameterType="Map">
    SELECT * from (SELECT id,track_id,corporate_name,last_follow_name,last_follow_result,leader_name,activation,proposer,DATE_FORMAT(create_time,'%Y-%m-%d') as create_time,sign,source,TIMESTAMPDIFF(second ,SYSDATE(),overdue_time) as overdue_time,issue,`status` from customer_network WHERE
    `status` in(5,10) UNION all SELECT id,track_id,corporate_name,last_follow_name,last_follow_result,leader_name,activation,proposer,DATE_FORMAT(create_time,'%Y-%m-%d') as create_time,sign,source,TIMESTAMPDIFF(second ,SYSDATE(),overdue_time) as overdue_time,issue,`status` FROM customer_telemarke WHERE `status` in(5,10) )
    as t  WHERE ((leader_name = #{lastFollowName} and status = 5) or last_follow_name = #{lastFollowName})  and activation = 0 and issue = 1
    <if test="strtime != null and strtime!=''">
      AND create_time <![CDATA[ >= ]]> #{strtime}
    </if>
    <if test="endtime != null and endtime!=''">
      AND create_time <![CDATA[ <= ]]> #{endtime}
    </if>
    <if test="content != null and content!= ''">
      <bind name="content" value="'%' + content + '%'" ></bind>
      and (corporate_name like #{content} or corporate_phone like #{content})
    </if>
    ORDER BY create_time DESC
  </select>
  <!--客服待处理-->
  <select id="pendingPoolList" resultMap="aMap" parameterType="Map">
    select <include refid="PoolList"></include> from customer_network
    where  `status` = 7
    <if test="strtime != null and strtime!=''">
      AND create_time <![CDATA[ >= ]]> #{strtime}
    </if>
    <if test="endtime != null and endtime!=''">
      AND create_time <![CDATA[ <= ]]> #{endtime}
    </if>
    <if test="content != null and content!= ''">
      <bind name="content" value="'%' + content + '%'" ></bind>
      and (corporate_name like #{content} or corporate_phone like #{content})
    </if>
    ORDER BY id DESC
  </select>

  <!--空中客户 主管-->
  <select id="queryNetworkByLastName" resultMap="aMap" parameterType="String">
    select id,track_id,corporate_name,corporate_phone,last_follow_name,last_follow_time,TIMESTAMPDIFF(second ,SYSDATE(),overdue_time) as overdue_time,leader_sign,last_follow_result,total,grade,activation_time from customer_network
    where  (last_follow_name = #{lastFollowName} and status = 10 and activation = 1 or  (leader_name = #{lastFollowName} and status = 5)
    <if test="strtime != null and strtime!=''">
      AND create_time <![CDATA[ >= ]]> #{strtime}
    </if>
    <if test="endtime != null and endtime!=''">
      AND create_time <![CDATA[ <= ]]> #{endtime}
    </if>
    <if test="content != null and content!= ''">
      <bind name="content" value="'%' + content + '%'" ></bind>
      and (corporate_name like #{content} or corporate_phone like #{content})
    </if>
    ORDER BY id DESC
  </select>
  <!--空中客户 业务员-->
  <select id="queryNetworkByLastName2" resultMap="aMap" parameterType="String">
    select id,track_id,corporate_name,corporate_phone,last_follow_name,last_follow_time,TIMESTAMPDIFF(second ,SYSDATE(),overdue_time) as overdue_time,leader_sign,last_follow_result,total,grade,activation_time from customer_network
    where  last_follow_name = #{lastFollowName} and status = 10 and activation = 1
    <if test="strtime != null and strtime!=''">
      AND create_time <![CDATA[ >= ]]> #{strtime}
    </if>
    <if test="endtime != null and endtime!=''">
      AND create_time <![CDATA[ <= ]]> #{endtime}
    </if>
    <if test="content != null and content!= ''">
      <bind name="content" value="'%' + content + '%'" ></bind>
      and (corporate_name like #{content} or corporate_phone like #{content})
    </if>
    ORDER BY id DESC
  </select>
  <!--成交订单-->
  <select id="dealListNetwork" resultMap="aMap" parameterType="String">
    select id,track_id,corporate_name,corporate_phone,last_follow_name,last_follow_time,leader_sign,last_follow_result,total,grade,activation_time from customer_order
    where  last_follow_name = #{name} and status = #{status}
    <if test="strtime != null and strtime!=''">
      AND create_time <![CDATA[ >= ]]> #{strtime}
    </if>
    <if test="endtime != null and endtime!=''">
      AND create_time <![CDATA[ <= ]]> #{endtime}
    </if>
    <if test="content != null and content!= ''">
      <bind name="content" value="'%' + content + '%'" ></bind>
      and (corporate_name like #{content} or corporate_phone like #{content})
    </if>
    ORDER BY id DESC
  </select>
  <!--下属客户-->
  <select id="subordinateList" resultMap="aMap" parameterType="String">
    select id,track_id,corporate_name,corporate_phone,last_follow_name,last_follow_time,leader_sign,last_follow_result,total,grade,activation_time from customer_network
    where  last_follow_name = #{lastFollowName} and status = #{status}
    <if test="strtime != null and strtime!=''">
      AND create_time <![CDATA[ >= ]]> #{strtime}
    </if>
    <if test="endtime != null and endtime!=''">
      AND create_time <![CDATA[ <= ]]> #{endtime}
    </if>
    <if test="content != null and content!= ''">
      <bind name="content" value="'%' + content + '%'" ></bind>
      and (corporate_name like #{content} or corporate_phone like #{content})
    </if>
    ORDER BY id DESC
  </select>
  <!--跟单管理-->
  <select id="cashierListNetwork" resultMap="cashierMap" parameterType="Map">
    select id,name,corporate_name,source,last_follow_name,track_id,order_state,deal_time from deal_order
    where 1 = 1
    <if test="orderState != null ">
    and order_state = #{orderState}
    </if>
    <if test="strtime != null and strtime!=''">
      AND create_time <![CDATA[ >= ]]> #{strtime}
    </if>
    <if test="endtime != null and endtime!=''">
      AND create_time <![CDATA[ <= ]]> #{endtime}
    </if>
    <if test="content != null and content!= ''">
      <bind name="content" value="'%' + content + '%'" ></bind>
      and (corporate_name like #{content} or corporate_phone like #{content})
    </if>
    ORDER BY id DESC
  </select>

  <select id="notice" resultMap="DistributeMap">
    select id,track_id,overdue_time,last_follow_name FROM customer_network  where status = 0 and issue = 1
  </select>

  <select id="queryOverTime" resultMap="DistributeMap">
    select id,overdue_time from customer_network where status in(10,6)  and issue = 1
  </select>

  <select id="statusList" resultMap="aMap" parameterType="com.jdsw.distribute.model.Distribute">
    select id,track_id,name,corporate_name,corporate_phone,registered_capital,establish_time,operation,issue,state,status,create_time,last_follow_name,
    source,last_follow_time,city,other_phone,address,TIMESTAMPDIFF(second ,SYSDATE(),overdue_time) as overdue_time from customer_network
    where status = #{status} and last_follow_name = #{lastFollowName}
  </select>

  <select id="qureydealOrder" resultType="String" parameterType="com.jdsw.distribute.model.Distribute">
    select track_id from deal_order where id = #{id}
  </select>

  <update id="UpdateRecordingNetwork" parameterType="com.jdsw.distribute.model.Distribute">
    update deal_order set order_state = 1,conduct = #{conduct},contract_no = #{contractNo},pay = #{pay},cost = #{cost},deal_time = #{dealTime},recording_name = #{recordingName}
    where id = #{id}
  </update>

  <update id="overTime" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_network set status = #{status},last_follow_name = #{lastFollowName} where id = #{id}
  </update>

  <update id="appoint" parameterType="java.util.List">
        <foreach collection="list" item="distribute" index= "index" open="" close="" separator =";">
            update customer_network
            <set>
              branch = #{distribute.department},
              last_follow_name = #{distribute.firstFollowName},
              first_follow_name = #{distribute.firstFollowName},
              appoint = 1,
              issue = 1,
                status = #{distribute.status},
              overdue_time = #{distribute.overdueTime}
            </set>
                <where>
                  id = #{distribute.id}
                </where>
          </foreach>
  </update>

  <update id="updateNetworkTrackId" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_network set track_id = #{trackId} where id = #{id}
  </update>

  <update id="updateNetworkFirstFollowName" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_network set last_follow_name = #{firstFollowName},first_follow_name = #{firstFollowName},issue = 1,status = #{status},leader_name = #{leaderName},
    receiving_time = sysdate(),branch = #{branch} where id = #{id}
  </update>

  <update id="updateNetworkLastFollowName" parameterType="java.util.List">
    <if test="list!=null">
    <foreach collection="list" item="Distribute" index="index" open="" close="" separator=";">
      update customer_network
      <set>
      <if test="Distribute.lastFollowName != null and Distribute.lastFollowName != ''">
        last_follow_name =#{Distribute.lastFollowName},
      </if>
        <if test="Distribute.firstFollowName != null and Distribute.firstFollowName != ''">
          first_follow_name =#{Distribute.firstFollowName},
        </if>
        <if test="Distribute.leaderName != null and Distribute.leaderName !=''">
          leader_name = #{Distribute.leaderName},
        </if>
        <if test="Distribute.overdueTime != null">
          overdue_time = #{Distribute.overdueTime},
        </if>
        <if test="Distribute.status != null">
          status = #{Distribute.status},
        </if>
        <if test="Distribute.leaderSign != null">
          leader_sign = #{Distribute.leaderSign},
        </if>
        issue = 1
      </set>
        <where>
          id=#{Distribute.id}
        </where>

    </foreach>
    </if>
  </update>

  <update id="updateNetworkLastFollowName2" parameterType="java.util.List">
    <if test="list!=null">
      <foreach collection="list" item="Distribute" index="index" open="" close="" separator=";">
        update customer_network
        <set>
          <if test="Distribute.lastFollowName != null and Distribute.lastFollowName != ''">
            last_follow_name =#{Distribute.lastFollowName},
          </if>
          <if test="Distribute.firstFollowName != null and Distribute.firstFollowName != ''">
            first_follow_name =#{Distribute.firstFollowName},
          </if>
          <if test="Distribute.leaderName != null and Distribute.leaderName !=''">
            leader_name = #{Distribute.leaderName},
          </if>
          <if test="Distribute.overdueTime != null">
            overdue_time = #{Distribute.overdueTime},
          </if>
          <if test="Distribute.status != null">
            status = #{Distribute.status},
          </if>
          <if test="Distribute.leaderSign != null">
            leader_sign = #{Distribute.leaderSign},
          </if>
          issue = 1
        </set>
        <where>
          track_id=#{Distribute.trackId}
        </where>

      </foreach>
    </if>
  </update>

  <update id="SubmitRecordingNetwork" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_network
    set
    <if test="status  !=null">
      status = #{status}
    </if>
    <if test="invalid != null">
      ,invalid = #{invalid}
    </if>
    <if test="overdueTime != null">
      ,overdue_time = #{overdueTime}
    </if>
    where track_id = #{trackId}
  </update>

  <update id="SubmitRecordingNetwork2" parameterType="java.util.List">
    <if test="list!=null">
      <foreach collection="list" item="Distribute" index="index" open="" close="" separator=";">
        update customer_network
        <set>
          status = #{Distribute.status}
        </set>
        <where>
          id=#{Distribute.id}
        </where>
      </foreach>
    </if>
  </update>

  <update id="updateNetwork" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_network
    <trim prefix="SET" suffixOverrides=",">
      <if test="corporateName != null and corporateName !=''">
        corporate_name = #{corporateName},
      </if>
      <if test="corporatePhone != null and corporatePhone != ''">
        corporate_phone = #{corporatePhone},
      </if>
      <if test="corporatePhone2 != null and corporatePhone2 != ''">
        corporate_phone2 = #{corporatePhone2},
      </if>
      <if test="corporatePhone3 != null and corporatePhone3 != ''">
        corporate_phone3 = #{corporatePhone3},
      </if>
      <if test="weChat != null and weChat != ''">
        weChat = #{weChat},
      </if>
      <if test="source != null">
        source = #{source},
      </if>
      <if test="lastFollowResult != null and lastFollowResult !=''">
        last_follow_result = #{lastFollowResult},
      </if>
      <if test="activationName != null and activationName != ''">
        activation_name = #{activationName},
      </if>
      <if test="overdueTime !=null">
        overdue_time = #{overdueTime},
      </if>
      <if test="activationTime != null and activationTime != ''">
        activation_time = #{activationTime},
      </if>
      <if test="activation != null">
        activation = #{activation},
      </if>
    </trim>

    where id = #{id}
  </update>

  <update id="updateNetwork2" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_network set

      last_follow_time = sysdate()

    <if test="overdueTime !=null">
      ,overdue_time = #{overdueTime}
    </if>
    <if test="lastFollowResult != null and lastFollowResult !=''">
      ,last_follow_result = #{lastFollowResult}
    </if>
    <if test="nextTime != null and nextTime !=''">
      ,next_time = #{nextTime}
    </if>
    where track_id = #{trackId}
  </update>
  <!--设置超时时间-->
  <update id="setOverdueTime" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_network set overdue_time = #{overdueTime},leader_sign = 0 where id = #{id}
  </update>

  <update id="updateBytrackId" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_network
    set
    <if test="status  !=null">
      status = #{status}
    </if>
    <if test="activation  !=null">
      ,activation = #{activation}
    </if>
    <if test="issue  !=null">
      ,issue = #{issue}
    </if>

      ,overdue_time = #{overdueTime}

    <if test="invalid  !=null">
      ,invalid = #{invalid}
    </if>
    where track_Id = #{trackId}
  </update>
  <update id="updateBytrackId2" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_network
    set
    last_follow_name = #{lastFollowName},receiving_time = #{receivingTime},sign = #{sign}
    where track_Id = #{trackId}
  </update>
  <update id="updateBytrackId3" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_order
    set status = #{status}
    where track_Id = #{trackId}
  </update>
  <!--强制超时-->
  <update id="setOvertime" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_network set status = 5 where track_id = #{trackId}
  </update>

  <!--删除-->
 <delete id="deleteNetwork" parameterType="com.jdsw.distribute.model.Distribute">
   delete from customer_network where id = #{id}
 </delete>

  <!--新增-->
  <insert id="insertNetwoork"  parameterType="com.jdsw.distribute.model.Distribute" useGeneratedKeys="true" keyProperty="id">
    insert into customer_network(corporate_name,corporate_phone,source
    ,create_time,track_id
    <if test="lastFollowName !=null and lastFollowName !=''">
      ,last_follow_name
    </if>
    <if test="firstFollowName !=null and firstFollowName !=''">
      ,first_follow_name
    </if>
    <if test="issue !=null">
      ,issue
    </if>
    <if test="leaderName !=null">
      ,leader_name
    </if>
    <if test="leaderSign !=null">
      ,leader_sign
    </if>
    <if test="status !=null">
      ,status
    </if>
    <if test="lastFollowResult != null">
      ,last_follow_result
    </if>
    <if test="activation != null ">
      ,activation
    </if>
    <if test="proposer != null and proposer != ''">
      ,proposer
    </if>
    <if test="appoint != null">
      ,appoint
    </if>
    <if test="sign != null">
      ,sign
    </if>
    <if test="invalid != null">
      ,invalid
    </if>
    <if test="branch != null and branch !=''">
      ,branch
    </if>
    <if test="receivingTime != null">
      ,receiving_time
    </if>

    )
    values (
    #{corporateName},#{corporatePhone},#{source},sysdate(),#{trackId}
    <if test="lastFollowName !=null and lastFollowName !=''">
      ,#{lastFollowName}
    </if>
    <if test="firstFollowName !=null and firstFollowName !=''">
      ,#{firstFollowName}
    </if>
    <if test="issue !=null">
      ,#{issue}
    </if>
    <if test="leaderName !=null">
      ,#{leaderName}
    </if>
    <if test="leaderSign !=null">
      ,#{leaderSign}
    </if>
    <if test="status != null">
      ,#{status}
    </if>
    <if test="lastFollowResult != null">
      ,#{lastFollowResult}
    </if>
    <if test="activation != null ">
      ,#{activation}
    </if>
    <if test="proposer != null and proposer != ''">
      ,#{proposer}
    </if>
    <if test="appoint != null">
      ,#{appoint}
    </if>
    <if test="sign != null">
      ,#{sign}
    </if>
    <if test="invalid != null">
      ,#{invalid}
    </if>
    <if test="branch != null and branch != ''">
      ,#{branch}
    </if>
    <if test="receivingTime != null and receivingTime != ''">
      ,#{receivingTime}
    </if>
    )
  </insert>
  <!--Excel导入-->
  <insert id="excelNetwork" parameterType="java.util.List">
    insert into customer_network(corporate_name,corporate_phone
    ,create_time,status,track_id,issue,appoint,leader_sign,proposer,sign,activation,invalid
    )
    values
    <foreach collection="list" item="item" separator=",">
    (#{item.corporateName},#{item.corporatePhone},sysdate(),
      #{item.status},#{item.trackId},#{item.issue},#{item.appoint},#{item.leaderSign},#{item.proposer},#{item.sign},#{item.activation},#{item.invalid}

      )
    </foreach>
  </insert>

  <insert id="insertDealOrder" parameterType="com.jdsw.distribute.model.Distribute">
    insert into deal_order(name,corporate_name,corporate_phone,create_time,source,last_follow_name,track_id,conduct,order_state)
    values (#{name},#{corporateName},#{corporatePhone},#{createTime},#{source},#{lastFollowName},#{trackId},#{conduct},0)
  </insert>
  <!--提交录单-->
  <insert id="insertDistrbuteOrder"  parameterType="com.jdsw.distribute.model.Distribute">
    insert into customer_order(corporate_name,corporate_phone
    ,create_time,track_id,status
      ,last_follow_name
      ,last_follow_result
      ,branch
      ,receiving_time

    )
    values (
    #{corporateName},#{corporatePhone},sysdate(),#{trackId},3
      ,#{lastFollowName}
      ,#{lastFollowResult}
      ,#{branch}
      ,#{receivingTime}
    )
  </insert>
</mapper>