<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdsw.distribute.dao.TelemarkeDao">
  <resultMap id="DistributeMap" type="com.jdsw.distribute.model.Distribute">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name"  property="name" />
    <result column="corporate_name"  property="corporateName" />
    <result column="corporate_phone"  property="corporatePhone" />
    <result column="contacts"  property="contacts" />
    <result column="contacts_phone"  property="contactsPhone" />
    <result column="source"  property="source" />
    <result column="follow_number"  property="followNumber" />
    <result column="state"  property="state" />
    <result column="last_follow_up"  property="lastFollowUp" />
    <result column="last_follow_content"  property="lastFollowContent" />
    <result column="last_follow_time"  property="lastFollowTime" />
    <result column="last_follow_name"  property="lastFollowName" />
    <result column="track_id"  property="trackId" />
    <result column="overdue_time"  property="overdueTime" />
    <result column="status"  property="status" />
    <result column="track_id"  property="trackId" />
    <result column="conduct"  property="conduct" />
    <result column="create_time"  property="createTime" />
    <result column="industry"  property="industry" />

  </resultMap>
  <resultMap id="pool" type="com.jdsw.distribute.vo.ComePool">
    <result column="contacts"  property="contacts" />
    <result column="create_time"  property="createTime" />
    <result column="contacts_phone"  property="contactsPhone" />
    <result column="source" property="source" />
    <result column="img_url"  property="imgUrl" />
    <result column="record"  property="record" />
    <result column="remarks"  property="remarks" />
  </resultMap>
  <resultMap id="aMap" type="com.jdsw.distribute.vo.AirForcePool">
    <result column="id"  property="id" />
    <result column="track_id"  property="trackId" />
    <result column="name"  property="name" />
    <result column="corporate_name" property="corporateName" />
    <result column="corporate_phone"  property="corporatePhone" />
    <result column="registered_capital"  property="registeredCapital" />
    <result column="establish_time"  property="establishTime" />
    <result column="operation"  property="operation" />
    <result column="issue"  property="issue" />
    <result column="state"  property="state" />
    <result column="create_time"  property="createTime" />
    <result column="last_follow_name"  property="lastFollowName" />
    <result column="source"  property="source" />
    <result column="last_follow_time"  property="lastFollowTime" />
    <result column="city"  property="city" />
    <result column="other_phone"  property="otherPhone" />
    <result column="address"  property="address" />
    <result column="status"  property="status" />
    <result column="activation"  property="activation" />
  </resultMap>
  <resultMap id="cashierMap" type="com.jdsw.distribute.vo.CashierVo">
    <result column="id"  property="id" />
    <result column="track_id"  property="trackId" />
    <result column="name"  property="name" />
    <result column="corporate_name" property="corporateName" />
    <result column="corporate_phone"  property="corporatePhone" />
    <result column="create_time"  property="createTime" />
    <result column="last_follow_name"  property="lastFollowName" />
    <result column="source"  property="source" />
    <result column="order_state"  property="orderState" />

  </resultMap>
  <resultMap id="recording" type="com.jdsw.distribute.vo.RecordingVo">
    <result column="id"  property="id" />
    <result column="create_time" property="createTime" />
    <result column="source"  property="source" />
    <result column="name"  property="name" />
    <result column="last_follow_name"  property="lastFollowName" />
    <result column="track_id"  property="trackId" />
    <result column="corporate_name"  property="corporateName" />
    <result column="conduct"  property="conduct" />
  </resultMap>
  <sql id="Base_Column_List">
    id,name, corporate_name, corporate_phone, contacts, contacts_phone, source, follow_number,state,last_follow_up,
    last_follow_content,last_follow_time,last_follow_name,create_time,status,track_id,first_follow_name,appoint,leader_name
  </sql>
  <select id="selectNetworkTrackId" resultType="String">
    select track_id from customer_telemarke where id = #{id}
  </select>

  <select id="selectNetworkById" resultMap="DistributeMap">
    select *
    from customer_telemarke where id =#{id}
  </select>

  <select id="selectNetworkById2" resultMap="DistributeMap">
    select *
    from customer_telemarke where id =#{id}
  </select>

<!--客服陆军池-->
  <select id="armyListPoolList" resultMap="aMap" parameterType="String">

    select id,track_id,name,corporate_name,corporate_phone,registered_capital,establish_time,operation,issue,state,create_time,last_follow_name,
    source,last_follow_time,city,other_phone,address,status from customer_telemarke
    where  issue =0 and `status`= 0
        <if test="strtime != null and strtime!=''">
            AND create_time <![CDATA[ >= ]]> #{strtime}
        </if>
        <if test="endtime != null and endtime!=''">
            AND create_time <![CDATA[ <= ]]> #{endtime}
        </if>
        <if test="content != null and content!= ''">
          <bind name="content" value="'%' + content + '%'" ></bind>
            and (corporate_name like #{content} or corporate_phone like #{content})
        </if>
    ORDER BY id DESC
  </select>
  <!--业务员、主管陆军池-->
  <select id="armyListPoolList2" resultMap="aMap" parameterType="String">

    select id,track_id,name,corporate_name,corporate_phone,registered_capital,establish_time,operation,issue,state,create_time,last_follow_name,
    source,last_follow_time,city,other_phone,address,status from customer_telemarke
    where issue = 1 and `status`in (0,1,2)
    <if test="strtime != null and strtime!=''">
      AND create_time <![CDATA[ >= ]]> #{strtime}
    </if>
    <if test="endtime != null and endtime!=''">
      AND create_time <![CDATA[ <= ]]> #{endtime}
    </if>
    <if test="content != null and content!= ''">
      <bind name="content" value="'%' + content + '%'" ></bind>
      and (corporate_name like #{content} or corporate_phone like #{content})
    </if>
    ORDER BY id DESC
  </select>

  <!--主管我的客户-->
  <select id="queryTelemarkeByLastName" resultMap="aMap" parameterType="String">
    select id,track_id,name,corporate_name,corporate_phone,registered_capital,establish_time,operation,issue,state,create_time,last_follow_name,
    source,last_follow_time,city,other_phone,address,status,activation from customer_telemarke
    where (last_follow_name = #{lastFollowName} and status in (3,6,10)) or  (leader_name = #{lastFollowName} and status = 5)
    <if test="strtime != null and strtime!=''">
      AND create_time <![CDATA[ >= ]]> #{strtime}
    </if>
    <if test="endtime != null and endtime!=''">
      AND create_time <![CDATA[ <= ]]> #{endtime}
    </if>
    <if test="content != null and content!= ''">
      <bind name="content" value="'%' + content + '%'" ></bind>
      and (corporate_name like #{content} or corporate_phone like #{content})
    </if>
    ORDER BY id DESC
  </select>
  <!--业务员我的客户-->
  <select id="queryTelemarkeByLastName2" resultMap="aMap" parameterType="String">
    select id,track_id,name,corporate_name,corporate_phone,registered_capital,establish_time,operation,issue,state,create_time,last_follow_name,
    source,last_follow_time,city,other_phone,address,status,activation from customer_telemarke
    where last_follow_name = #{lastFollowName} and status in(10,3,6)
    <if test="strtime != null and strtime!=''">
      AND create_time <![CDATA[ >= ]]> #{strtime}
    </if>
    <if test="endtime != null and endtime!=''">
      AND create_time <![CDATA[ <= ]]> #{endtime}
    </if>
    <if test="content != null and content!= ''">
      <bind name="content" value="'%' + content + '%'" ></bind>
      and (corporate_name like #{content} or corporate_phone like #{content})
    </if>
    ORDER BY id DESC
  </select>
  <!--我的客户待处理-->
  <select id="pendingNetworkList" resultMap="aMap" parameterType="String">
    select id,track_id,name,corporate_name,corporate_phone,registered_capital,establish_time,operation,issue,state,status,create_time,last_follow_name,
    source,last_follow_time,city,other_phone,address,activation from customer_telemarke
    where  leader_name = #{lastFollowName} and `status` = 9
    <if test="strtime != null and strtime!=''">
      AND create_time <![CDATA[ >= ]]> #{strtime}
    </if>
    <if test="endtime != null and endtime!=''">
      AND create_time <![CDATA[ <= ]]> #{endtime}
    </if>
    <if test="content != null and content!= ''">
      <bind name="content" value="'%' + content + '%'" ></bind>
      and (corporate_name like #{content} or corporate_phone like #{content})
    </if>
    ORDER BY id DESC
  </select>
  
  <select id="querySign" resultType="Integer">
    select leader_sign from customer_telemarke where track_id = #{id}
  </select>

  <select id="qureyTelemarke" resultType="com.jdsw.distribute.vo.UpdateDistributeVo">
    select id,name,corporate_name as corporateName,corporate_phone as corporatePhone,deal_time as dealTime,registered_capital as registeredCapital,operation,conduct,city,source,address
    ,other_phone as otherPhone from customer_telemarke where id = #{id}
  </select>

  <select id="statusList" resultMap="aMap" parameterType="com.jdsw.distribute.model.Distribute">
    select id,track_id,name,corporate_name,corporate_phone,registered_capital,establish_time,operation,issue,state,status,create_time,last_follow_name,
    source,last_follow_time,city,other_phone,address,TIMESTAMPDIFF(second ,SYSDATE(),overdue_time) as overdue_time from customer_telemarke
    where status = #{status} and last_follow_name = #{lastFollowName}
  </select>

  <select id="queryOverTime" resultMap="DistributeMap">
    select id,overdue_time,activation,leader_sign,last_follow_name from customer_telemarke where status in(10,6)  and issue = 1
  </select>

  <insert id="insertTelemarkting" parameterType="java.util.List">
    insert into customer_telemarke(name,corporate_name,corporate_phone,contacts,contacts_phone,source,follow_number,state,
    last_follow_up,last_follow_content,last_follow_time,last_follow_name,create_time,status)
    <foreach collection="list" item="item" index="index" separator=",">
        (#{item.name},#{item.corporateName},#{item.corporatePhone},#{item.contacts},#{item.contactsPhone},
        #{item.source},#{item.followNumber},#{item.state},#{item.lastFollowUp},#{item.lastFollowContent},#{item.lastFollowTime},#{item.lastFollowName},
      sysdate()  ,1)
    </foreach>
  </insert>

  <insert id="insertTelemarke" parameterType="com.jdsw.distribute.model.Distribute" useGeneratedKeys="true" keyProperty="id">
    insert into customer_telemarke(name,corporate_name,corporate_phone,establish_time,registered_capital,operation,conduct,city,source,address
    ,create_time,other_phone,track_id
    <if test="lastFollowName !=null and lastFollowName !=''">
      ,last_follow_name
    </if>
    <if test="firstFollowName !=null and firstFollowName !=''">
      ,first_follow_name
    </if>
    <if test="issue !=null">
      ,issue
    </if>
    <if test="appoint !=null">
      ,appoint
    </if>
    <if test="status !=null">
      ,status
    </if>
    <if test="leaderName !=null">
      ,leader_name
    </if>
    <if test="activation !=null">
      ,activation
    </if>
    )
    values (
    #{name},#{corporateName},#{corporatePhone},#{establishTime},#{registeredCapital},#{operation},#{conduct},#{city},#{source},#{address},sysdate(),#{otherPhone},#{trackId}
    <if test="lastFollowName !=null and lastFollowName !=''">
      ,#{lastFollowName}
    </if>
    <if test="firstFollowName !=null and firstFollowName !=''">
      ,#{firstFollowName}
    </if>
    <if test="issue !=null">
      ,#{issue}
    </if>
    <if test="appoint !=null">
      ,#{appoint}
    </if>
    <if test="status !=null">
      ,#{status}
    </if>
    <if test="leaderName !=null">
      ,#{leaderName}
    </if>
    <if test="activation !=null">
      ,#{activation}
    </if>
    )
  </insert>

  <insert id="excelTelemarke" parameterType="java.util.List">
    insert into customer_telemarke(name,corporate_name,corporate_phone,establish_time,registered_capital,operation,address
    ,create_time,status,other_phone,track_id,last_follow_name,first_follow_name,issue,appoint,leader_name,activation)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.name},#{item.corporateName},#{item.corporatePhone},#{item.establishTime},#{item.registeredCapital},#{item.operation},#{item.address},sysdate(),#{item.status},#{item.otherPhone}
      ,#{item.trackId},#{item.lastFollowName},#{item.firstFollowName},#{item.issue},#{item.appoint},#{item.leaderName},#{item.activation}
      )
    </foreach>
  </insert>

  <insert id="insertDealOrder" parameterType="com.jdsw.distribute.model.Distribute">
    insert into deal_order(name,corporate_name,create_time,source,last_follow_name,track_id,conduct,order_state)
    values (#{name},#{corporateName},#{createTime},#{source},#{lastFollowName},#{trackId},#{conduct},0)
  </insert>

  <update id="overTime" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_telemarke set status = #{status},last_follow_name = #{lastFollowName} where id = #{id}
  </update>

  <update id="appoint" parameterType="java.util.List">
    <foreach collection="list" item="distribute" index= "index" open="" close="" separator =";">
      update customer_telemarke
      <set>
        branch = #{distribute.department},
        last_follow_name = #{distribute.firstFollowName},
        first_follow_name = #{distribute.firstFollowName},
        appoint = 1,
        issue = 1,
        status = #{distribute.status},
        leader_sign = #{distribute.leaderSign},
        leader_name = #{distribute.leaderName},
        overdue_time = #{distribute.overdueTime}
      </set>
      <where>
        id = #{distribute.id}
      </where>
    </foreach>
  </update>

  <update id="updateNetworkTrackId" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_telemarke set track_id = #{trackId} where id = #{id}
  </update>

  <update id="updateNetworkFirstFollowName" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_telemarke set last_follow_name = #{lastFollowName},first_follow_name = #{lastFollowName},leader_sign=#{leaderSign},status = #{status},leader_name = #{leaderName} where id = #{id}
  </update>

  <update id="updateNetworkLastFollowName" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_telemarke set last_follow_name = #{lastFollowName} where id = #{id}
  </update>

  <update id="SubmitRecordingNetwork" parameterType="java.util.List">
    <foreach collection="list" item="distribute" index= "index" open="" close="" separator =";">
      update customer_telemarke
      <set>
        status = #{distribute.status}
      </set>
      <where>
        id = #{distribute.id}
      </where>
    </foreach>
  </update>

  <update id="updateworkOverdueTime" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_telemarke set
    <if test="status != null">
      status = #{status},
    </if>
    <if test="overdueTime != null">
      overdue_time = #{overdueTime},
    </if>
    <if test="activation != null">
      activation = #{activation}
    </if>

     where id = #{id}
  </update>

  <update id="setOvertime" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_telemarke set
    <if test="status != null">
      status = #{status}
    </if>
    <if test="leaderName != null and leaderName != ''">
      ,leader_name = #{leaderName}
    </if>
    <if test="leaderSign != null ">
      ,leader_sign = #{leaderSign}
    </if>
    where track_id = #{trackId}
  </update>

  <update id="assign" parameterType="java.util.List">
    <if test="list!=null">
      <foreach collection="list" item="Distribute" index="index" open="" close="" separator=";">
        update customer_telemarke
        <set>
          <if test="Distribute.lastFollowName != null and Distribute.lastFollowName != ''">
            last_follow_name =#{Distribute.lastFollowName},
          </if>
          <if test="Distribute.firstFollowName != null and Distribute.firstFollowName != ''">
            first_follow_name =#{Distribute.firstFollowName},
          </if>
          <if test="Distribute.leaderName != null and Distribute.leaderName !=''">
            leader_name = #{Distribute.leaderName},
          </if>
          <if test="Distribute.status != null and Distribute.status !=''">
            status = #{Distribute.status},
          </if>
          <if test="Distribute.overdueTime != null ">
            overdue_time = #{Distribute.overdueTime},
          </if>
          <if test="Distribute.issue != null ">
            issue = #{Distribute.issue},
          </if>
          leader_sign = #{Distribute.leaderSign}
        </set>
        <where>
          id=#{Distribute.id}
        </where>

      </foreach>
    </if>
  </update>

  <update id="updateTelemarke" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_telemarke set name = #{name},corporate_name = #{corporateName},corporate_phone = #{corporatePhone},deal_time = #{dealTime},registered_capital = #{registeredCapital},
    operation = #{operation},conduct = #{conduct},city = #{city},source = #{source},address = #{address},other_phone = #{otherPhone} where id = #{id}
  </update>

  <update id="updateBytrackId" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_telemarke
    set
    <if test="status  !=null">
      status = #{status}
    </if>
    where track_Id = #{trackId}
  </update>

  <delete id="deleteTelemarke" parameterType="com.jdsw.distribute.model.Distribute">
   delete from customer_telemarke where id = #{id}
 </delete>
</mapper>