<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdsw.distribute.dao.TelemarkeDao">
  <resultMap id="DistributeMap" type="com.jdsw.distribute.model.Distribute">
    <id column="id"  property="id" />
    <result column="name"  property="name" />
    <result column="corporate_name"  property="corporateName" />
    <result column="corporate_phone"  property="corporatePhone" />
    <result column="source"  property="source" />
    <result column="state"  property="state" />
    <result column="last_follow_up"  property="lastFollowUp" />
    <result column="last_follow_time"  property="lastFollowTime" />
    <result column="last_follow_name"  property="lastFollowName" />
    <result column="track_id"  property="trackId" />
    <result column="overdue_time"  property="overdueTime" />
    <result column="status"  property="status" />
    <result column="track_id"  property="trackId" />
    <result column="conduct"  property="conduct" />
    <result column="create_time"  property="createTime" />
    <result column="industry"  property="industry" />
    <result column="activation_time"  property="activationTime" />
    <result column="activation_name"  property="activationName" />
    <result column="corporate_phone2"  property="corporatePhone2" />
    <result column="corporate_phone3"  property="corporatePhone3" />
    <result column="leader_sign"  property="leaderSign" />



  </resultMap>
  <resultMap id="pool" type="com.jdsw.distribute.vo.ComePool">
    <result column="contacts"  property="contacts" />
    <result column="create_time"  property="createTime" />
    <result column="contacts_phone"  property="contactsPhone" />
    <result column="source" property="source" />
    <result column="img_url"  property="imgUrl" />
    <result column="record"  property="record" />
    <result column="remarks"  property="remarks" />
  </resultMap>
  <resultMap id="aMap" type="com.jdsw.distribute.vo.ArmyPool">
    <result column="id"  property="id" />
    <result column="track_id"  property="trackId" />
    <result column="corporate_name" property="corporateName" />
    <result column="corporate_phone"  property="corporatePhone" />
    <result column="issue"  property="issue" />
    <result column="create_time"  property="createTime" />
    <result column="last_follow_name"  property="lastFollowName" />
    <result column="source"  property="source" />
    <result column="last_follow_time"  property="lastFollowTime" />
    <result column="overdue_time"  property="overdueTime" />
    <result column="status"  property="status" />
    <result column="leader_sign"  property="leaderSign" />
    <result column="receiving_time"  property="receivingTime" />
    <result column="last_follow_result"  property="lastFollowResult" />
    <result column="sign"  property="sign" />
    <result column="proposer"  property="proposer" />
    <result column="issue"  property="issue" />
    <result column="grade"  property="grade" />
    <result column="total"  property="total" />
    <result column="activation_time"  property="activationTime" />
    <result column="overrun"  property="overrun" />
    <result column="establish_time"  property="establishTime" />
    <result column="registered_capital"  property="registeredCapital" />
    <result column="address"  property="address" />
    <result column="total"  property="total" />
    <result column="weChat"  property="weChat" />
  </resultMap>
  <resultMap id="cashierMap" type="com.jdsw.distribute.vo.CashierVo">
    <result column="id"  property="id" />
    <result column="track_id"  property="trackId" />
    <result column="name"  property="name" />
    <result column="corporate_name" property="corporateName" />
    <result column="corporate_phone"  property="corporatePhone" />
    <result column="create_time"  property="createTime" />
    <result column="last_follow_name"  property="lastFollowName" />
    <result column="source"  property="source" />
    <result column="order_state"  property="orderState" />

  </resultMap>
  <resultMap id="recording" type="com.jdsw.distribute.vo.RecordingVo">
    <result column="id"  property="id" />
    <result column="create_time" property="createTime" />
    <result column="source"  property="source" />
    <result column="name"  property="name" />
    <result column="last_follow_name"  property="lastFollowName" />
    <result column="track_id"  property="trackId" />
    <result column="corporate_name"  property="corporateName" />
    <result column="conduct"  property="conduct" />
  </resultMap>
  <sql id="Base_Column_List">
    id,name, corporate_name, corporate_phone, contacts, contacts_phone, source, follow_number,state,last_follow_up,
    last_follow_content,last_follow_time,last_follow_name,create_time,status,track_id,first_follow_name,appoint,leader_name
  </sql>
  <select id="selectNetworkTrackId" resultType="String">
    select track_id from customer_telemarke where id = #{id}
  </select>

  <select id="selectNetworkById" resultMap="DistributeMap">
    select *
    from customer_telemarke where id =#{id}
  </select>

  <select id="selectNetworkById2" resultMap="DistributeMap">
    select *
    from customer_network where id =#{id} FOR UPDATE
  </select>

  <select id="selectNetworkById3" resultMap="DistributeMap">
    select *
    from customer_telemarke where track_id =#{trackId}
  </select>

<!--陆军分发池-->
  <select id="armyListPoolList" resultMap="aMap" parameterType="String">

    select id,track_id,name,corporate_name,corporate_phone,registered_capital,establish_time,issue,create_time,
    source,address,proposer,status,activation,last_follow_result,weChat from customer_telemarke
    where  1 = 1 and issue = #{issue}
    <if test="proposer != null and proposer !=''">
      and proposer = #{proposer}
    </if>
        <if test="sign != null">
        AND sign = #{sign}
        </if>
        <if test="strtime != null and strtime!=''">
            AND create_time <![CDATA[ >= ]]> #{strtime}
        </if>
        <if test="endtime != null and endtime!=''">
            AND create_time <![CDATA[ <= ]]> #{endtime}
        </if>
        <if test="content != null and content!= ''">
          <bind name="content" value="'%' + content + '%'" ></bind>
            and (corporate_name like #{content} or corporate_phone like #{content})
        </if>
    ORDER BY id DESC
  </select>
  <!--抢单池-->
  <select id="grabbingPool" resultMap="aMap" parameterType="Map">
    select id,track_id,source,last_follow_result,proposer,create_time,issue,sign,last_follow_name,last_follow_result,corporate_name from customer_telemarke
    where  issue = 1 and `status` in(0,1)
    <if test="branch !=null and branch !=''">
      and branch = #{branch}
    </if>
    <if test="strtime != null and strtime!=''">
      AND create_time <![CDATA[ >= ]]> #{strtime}
    </if>
    <if test="endtime != null and endtime!=''">
      AND create_time <![CDATA[ <= ]]> #{endtime}
    </if>
    <if test="content != null and content!= ''">
      <bind name="content" value="'%' + content + '%'" ></bind>
      and (corporate_name like #{content} or corporate_phone like #{content})
    </if>
    ORDER BY id DESC
  </select>
  <!--业务员跟单池-->
  <select id="withPool" resultMap="aMap" parameterType="Map">
    SELECT id,track_id,corporate_name,corporate_phone,weChat,last_follow_name,last_follow_result,leader_name,activation,proposer,DATE_FORMAT(create_time,'%Y-%m-%d') as create_time,sign,source,TIMESTAMPDIFF(second ,SYSDATE(),overdue_time)
     as overdue_time,issue,leader_sign from customer_telemarke WHERE
    `status` in (7,10) and activation = 0 and issue = #{issue}
    <if test="lastFollowName != null and lastFollowName !=''">
      and last_follow_name = #{lastFollowName}
    </if>
    <if test="strtime != null and strtime!=''">
      AND create_time <![CDATA[ >= ]]> #{strtime}
    </if>
    <if test="endtime != null and endtime!=''">
      AND create_time <![CDATA[ <= ]]> #{endtime}
    </if>
    <if test="content != null and content!= ''">
      <bind name="content" value="'%' + content + '%'" ></bind>
      and (corporate_name like #{content} or corporate_phone like #{content})
    </if>
    ORDER BY create_time DESC
  </select>
  <!--主管跟单池-->
  <select id="withPool2" resultMap="aMap" parameterType="Map">
    SELECT id,track_id,corporate_name,corporate_phone,weChat,last_follow_name,last_follow_result,leader_name,activation,proposer,DATE_FORMAT(create_time,'%Y-%m-%d') as create_time,sign,source,TIMESTAMPDIFF(second ,SYSDATE(),overdue_time) as overdue_time,issue,`status`,overrun from customer_telemarke WHERE
    ((leader_name = #{lastFollowName} and status = 5) or (last_follow_name = #{lastFollowName} and `status` = 10 and activation = 0))   and issue =  #{issue}
    <if test="strtime != null and strtime!=''">
      AND create_time <![CDATA[ >= ]]> #{strtime}
    </if>
    <if test="endtime != null and endtime!=''">
      AND create_time <![CDATA[ <= ]]> #{endtime}
    </if>
    <if test="content != null and content!= ''">
      <bind name="content" value="'%' + content + '%'" ></bind>
      and (corporate_name like #{content} or corporate_phone like #{content})
    </if>
    ORDER BY create_time DESC
  </select>
  <!--陆军客户-->
  <select id="queryTelemarkeByLastName" resultMap="aMap" parameterType="Map">
    select id,track_id,name,corporate_name,corporate_phone,weChat,registered_capital,establish_time,issue,create_time,last_follow_name,
    source,last_follow_time,activation,address,activation_time,name,proposer,last_follow_result,total,receiving_time,sign from customer_telemarke
    where status = #{status} and activation = 1
    <if test="lastFollowName != null and lastFollowName !=''">
      and last_follow_name = #{lastFollowName}
    </if>
    <if test="strtime != null and strtime!=''">
      AND create_time <![CDATA[ >= ]]> #{strtime}
    </if>
    <if test="endtime != null and endtime!=''">
      AND create_time <![CDATA[ <= ]]> #{endtime}
    </if>
    <if test="content != null and content!= ''">
      <bind name="content" value="'%' + content + '%'" ></bind>
      and (corporate_name like #{content} or corporate_phone like #{content})
    </if>
    ORDER BY id DESC
  </select>

  
  <select id="querySign" resultType="Integer">
    select leader_sign from customer_telemarke where track_id = #{id}
  </select>

  <select id="qureyTelemarke" resultType="com.jdsw.distribute.vo.UpdateDistributeVo">
    select id,name,corporate_name as corporateName,corporate_phone as corporatePhone,deal_time as dealTime,registered_capital as registeredCapital,operation,conduct,city,source,address
    ,other_phone as otherPhone from customer_telemarke where id = #{id}
  </select>

  <select id="statusList" resultMap="aMap" parameterType="com.jdsw.distribute.model.Distribute">
    select id,track_id,name,corporate_name,corporate_phone,registered_capital,establish_time,operation,issue,state,status,create_time,last_follow_name,
    source,last_follow_time,city,other_phone,address,TIMESTAMPDIFF(second ,SYSDATE(),overdue_time) as overdue_time from customer_telemarke
    where status = #{status} and last_follow_name = #{lastFollowName}
  </select>

  <select id="queryOverTime" resultMap="DistributeMap">
    select id,overdue_time,activation,leader_sign,last_follow_name from customer_telemarke where status = 10
  </select>

  <insert id="insertTelemarkting" parameterType="java.util.List">
    insert into customer_telemarke(name,corporate_name,corporate_phone,contacts,contacts_phone,source,follow_number,state,
    last_follow_up,last_follow_content,last_follow_time,last_follow_name,create_time,status)
    <foreach collection="list" item="item" index="index" separator=",">
        (#{item.name},#{item.corporateName},#{item.corporatePhone},#{item.contacts},#{item.contactsPhone},
        #{item.source},#{item.followNumber},#{item.state},#{item.lastFollowUp},#{item.lastFollowContent},#{item.lastFollowTime},#{item.lastFollowName},
      sysdate()  ,1)
    </foreach>
  </insert>

  <insert id="insertTelemarke" parameterType="com.jdsw.distribute.model.Distribute" useGeneratedKeys="true" keyProperty="id">
    insert into customer_telemarke(name,corporate_name,corporate_phone,source,address
    ,create_time,track_id,proposer
    <if test="lastFollowName !=null and lastFollowName !=''">
      ,last_follow_name
    </if>
    <if test="firstFollowName !=null and firstFollowName !=''">
      ,first_follow_name
    </if>
    <if test="issue !=null">
      ,issue
    </if>
    <if test="appoint !=null">
      ,appoint
    </if>
    <if test="status !=null">
      ,status
    </if>
    <if test="leaderName !=null">
      ,leader_name
    </if>
    <if test="activation !=null">
      ,activation
    </if>
    <if test="lastFollowResult !=null and lastFollowResult != ''">
      ,last_follow_result
    </if>
    <if test="branch !=null and branch != ''">
      ,branch
    </if>
    <if test="sign !=null">
      ,sign
    </if>
    <if test="overrun !=null">
      ,overrun
    </if>
    <if test="leaderSign !=null">
      ,leader_sign
    </if>
    <if test="weChat != null and weChat != ''">
      ,weChat
    </if>
    )
    values (
    #{name},#{corporateName},#{corporatePhone},#{source},#{address},sysdate(),#{trackId},#{proposer}
    <if test="lastFollowName !=null and lastFollowName !=''">
      ,#{lastFollowName}
    </if>
    <if test="firstFollowName !=null and firstFollowName !=''">
      ,#{firstFollowName}
    </if>
    <if test="issue !=null">
      ,#{issue}
    </if>
    <if test="appoint !=null">
      ,#{appoint}
    </if>
    <if test="status !=null">
      ,#{status}
    </if>
    <if test="leaderName !=null">
      ,#{leaderName}
    </if>
    <if test="activation !=null">
      ,#{activation}
    </if>
    <if test="lastFollowResult !=null and lastFollowResult != ''">
      ,#{lastFollowResult}
    </if>
    <if test="branch !=null and branch != ''">
      ,#{branch}
    </if>
    <if test="sign !=null">
      ,#{sign}
    </if>
    <if test="overrun !=null">
      ,#{overrun}
    </if>
    <if test="leaderSign !=null">
      ,#{leaderSign}
    </if>
    <if test="weChat != null and weChat != ''">
      ,#{weChat}
    </if>
    )
  </insert>

  <insert id="excelTelemarke" parameterType="java.util.List">
    insert into customer_telemarke(name,corporate_name,corporate_phone,establish_time,registered_capital,address
    ,create_time,status,track_id,issue,appoint,activation,source,sign,proposer,overrun,leader_sign)
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.name},#{item.corporateName},#{item.corporatePhone},#{item.establishTime},#{item.registeredCapital},#{item.address},sysdate(),#{item.status},
      #{item.trackId},#{item.issue},#{item.appoint},#{item.activation},6,1,#{item.proposer},#{item.overrun},#{item.leaderSign}
      )
    </foreach>
  </insert>

  <insert id="insertDealOrder" parameterType="com.jdsw.distribute.model.Distribute">
    insert into deal_order(name,corporate_name,create_time,source,last_follow_name,track_id,conduct,order_state,corporate_phone)
    values (#{name},#{corporateName},#{createTime},#{source},#{lastFollowName},#{trackId},#{conduct},0,#{corporatePhone})
  </insert>

  <update id="overTime" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_telemarke set status = #{status},last_follow_name = #{lastFollowName},overdue_time = #{overdueTime},overrun = #{overrun} where id = #{id}
  </update>

  <update id="appoint" parameterType="java.util.List">
    <foreach collection="list" item="distribute" index= "index" open="" close="" separator =";">
      update customer_telemarke
      <set>
        branch = #{distribute.branch},
        last_follow_name = #{distribute.firstFollowName},
        first_follow_name = #{distribute.firstFollowName},
        appoint = 1,
        issue = 1,
        status = #{distribute.status},
        leader_sign = #{distribute.leaderSign},
        leader_name = #{distribute.leaderName},
        overdue_time = #{distribute.overdueTime},
        receiving_time = sysdate()
      </set>
      <where>
        id = #{distribute.id}
      </where>
    </foreach>
  </update>

  <update id="updateNetworkTrackId" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_telemarke set track_id = #{trackId} where id = #{id}
  </update>

  <update id="updateNetworkFirstFollowName" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_telemarke set last_follow_name = #{lastFollowName},first_follow_name = #{lastFollowName},leader_sign=#{leaderSign},
    status = #{status},leader_name = #{leaderName},receiving_time = sysdate() where id = #{id}
  </update>

  <update id="updateNetworkLastFollowName" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_telemarke set last_follow_name = #{lastFollowName} where id = #{id}
  </update>

  <update id="SubmitRecordingNetwork" parameterType="java.util.List">
    <foreach collection="list" item="distribute" index= "index" open="" close="" separator =";">
      update customer_telemarke
      <set>
        status = #{distribute.status}
      </set>
      <where>
        id = #{distribute.id}
      </where>
    </foreach>
  </update>

  <update id="updateworkOverdueTime" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_telemarke
    <trim prefix="SET" suffixOverrides=",">
      <if test="corporateName != null and corporateName !=''">
        corporate_name = #{corporateName},
      </if>
      <if test="corporatePhone != null and corporatePhone != ''">
        corporate_phone = #{corporatePhone},
      </if>
      <if test="corporatePhone2 != null and corporatePhone2 != ''">
        corporate_phone2 = #{corporatePhone2},
      </if>
      <if test="corporatePhone3 != null and corporatePhone3 != ''">
        corporate_phone3 = #{corporatePhone3},
      </if>
      <if test="weChat != null and weChat != ''">
        weChat = #{weChat},
      </if>
      <if test="source != null">
        source = #{source},
      </if>
      <if test="lastFollowResult != null and lastFollowResult !=''">
        last_follow_result = #{lastFollowResult},
      </if>
      <if test="activationName != null and activationName != ''">
        activation_name = #{activationName},
      </if>
      <if test="overdueTime !=null">
        overdue_time = #{overdueTime},
      </if>
      <if test="activationTime != null and activationTime != ''">
        activation_time = #{activationTime},
      </if>
      <if test="activation != null">
        activation = #{activation},
      </if>
      <if test="status != null">
        status = #{status},
      </if>
      <if test="issue != null">
        issue = #{issue},
      </if>
      <if test="name != null and name != ''">
        name = #{name},
      </if>
    </trim>

    where id = #{id}
  </update>

  <update id="setOvertime" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_telemarke set
    <if test="status != null">
      status = #{status}
    </if>
    <if test="leaderName != null and leaderName != ''">
      ,leader_name = #{leaderName}
    </if>
    <if test="leaderSign != null ">
      ,leader_sign = #{leaderSign}
    </if>
    where track_id = #{trackId}
  </update>

  <update id="assign" parameterType="java.util.List">
    <if test="list!=null">
      <foreach collection="list" item="Distribute" index="index" open="" close="" separator=";">
        update customer_telemarke
        <set>
          <if test="Distribute.lastFollowName != null and Distribute.lastFollowName != ''">
            last_follow_name =#{Distribute.lastFollowName},
          </if>
          <if test="Distribute.firstFollowName != null and Distribute.firstFollowName != ''">
            first_follow_name =#{Distribute.firstFollowName},
          </if>
          <if test="Distribute.leaderName != null and Distribute.leaderName !=''">
            leader_name = #{Distribute.leaderName},
          </if>
          <if test="Distribute.status != null and Distribute.status !=''">
            status = #{Distribute.status},
          </if>
          <if test="Distribute.overdueTime != null ">
            overdue_time = #{Distribute.overdueTime},
          </if>
          <if test="Distribute.issue != null ">
            issue = #{Distribute.issue},
          </if>
          leader_sign = #{Distribute.leaderSign}
        </set>
        <where>
          id=#{Distribute.id}
        </where>

      </foreach>
    </if>
  </update>

  <update id="updateTelemarke" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_telemarke set corporate_name = #{corporateName},corporate_phone = #{corporatePhone},
    source = #{source},last_follow_result = #{lastFollowResult} where id = #{id}
  </update>

  <update id="updateBytrackId" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_telemarke
    set
      status = #{status}
    where track_Id = #{trackId}
  </update>

  <update id="updateBytrackId2" parameterType="com.jdsw.distribute.model.Distribute">
    update customer_telemarke
    set
      status = #{status},
      issue = #{issue},
      last_follow_name = #{lastFollowName},
      last_follow_time = #{lastFollowTime},
      last_follow_result = #{lastFollowResult},
      sign = #{sign},
      receiving_time = #{receivingTime},
      overdue_time = #{overdueTime}
    where track_Id = #{trackId}
  </update>

  <delete id="deleteTelemarke" parameterType="com.jdsw.distribute.model.Distribute">
   delete from customer_telemarke where id = #{id}
 </delete>
</mapper>