<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdsw.distribute.dao.TelemarkeFollowDao">
  <resultMap id="DistributeMap" type="com.jdsw.distribute.model.DistributeFollow">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="follow_name"  property="followName" />
    <result column="follow_time"  property="followTime" />
    <result column="follow_result"  property="followResult" />
    <result column="contact_type"  property="contactType" />
    <result column="network_id" property="networkId" />
    <result column="img_url"  property="imgUrl" />
    <result column="remarks"  property="remarks" />
    <result column="record"  property="record" />
    <result column="create_time"  property="createTime" />

  </resultMap>
  <sql id="Base_Column_List">
    name, corporate_name, corporate_phone, contacts, contacts_phone, source, follow_number,state,last_follow_up,
    last_follow_content,last_follow_time,last_follow_name,create_time,status
  </sql>
  <insert id="insertNetworkFollow" parameterType="com.jdsw.distribute.model.DistributeFollow">
    insert into customer_telemarke_follow
    <trim prefix="(" suffix=")" suffixOverrides=",">
      follow_name,follow_result,network_id,
      <if test="followTime != null and followTime != ''">
        follow_time,
      </if>
      <if test="imgUrl != null and imgUrl != ''">
        img_url,
      </if>
      <if test="record != null and record != ''">
        record,
      </if>
      create_time
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      #{followName},#{followResult},#{networkId},
      <if test="followTime != null and followTime != ''">
        #{followTime},
      </if>
      <if test="imgUrl != null and imgUrl != ''">
        #{imgUrl},
      </if>
      <if test="record != null and record != ''">
        #{record},
      </if>
      sysdate()

    </trim>

  </insert>

  <insert id="insertNetworkFollow2" parameterType="java.util.List">
    insert into customer_telemarke_follow(follow_name,follow_result,network_id,create_time) values
    <foreach collection="list" item="item" separator=",">
      (#{item.followName},#{item.followResult},#{item.networkId},sysdate())
    </foreach>
  </insert>

  <update id="updateFolloupNetwork" parameterType="com.jdsw.distribute.model.DistributeFollow">
    update customer_telemarke set last_follow_up = #{lastFollowUp},last_follow_time = #{followTime} where id = #{networkId}
  </update>

  <select id="qureyFollowList" parameterType="java.lang.Integer" resultMap="DistributeMap">
    select id,follow_name,follow_time,follow_result,contact_type,network_id,img_url,remarks,record,create_time from customer_telemarke_follow where network_id = #{id} ORDER BY id DESC
  </select>
</mapper>